:root {
  --nav-color: #0d6efd;
  --section-color: white;
  --text-color: #333;
  --container-bg: #e2edff;
  --sun-moon: #555;
}
html[data-color-mode="dark"] {
  --nav-color: #333;
  --section-color: #555;
  --text-color: lightblue;
  --container-bg: #444;
  --sun-moon: #f9d224;
}
* {
  opacity: 1;
}
h1,
h2 {
  color: var(--text-color);
}
.lead {
  color: var(--text-color);
}
#about p {
  color: var(--text-color);
}
#contact label {
  color: var(--text-color);
}
nav,
footer {
  background-color: var(--nav-color);
}
.navbar ul li a {
  color: var(--text-color);
}
nav i {
  font-size: 18px;
}
.moon,
.sun {
  padding-left: 7px;
  color: var(--sun-moon);
}
.jumbotron {
  padding-top: 5rem;
  background-color: var(--container-bg);
  background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.5)), url(img/jumbo2.png) fixed;
  background-size: cover;
}
@media only screen and (max-width: 1080px) {
  .jumbotron {
    background-position: center;
    background-position-x: 60%;
  }
}
.jumbotron h1,
.lead {
  color: lightblue;
}

#projects {
  background-color: var(--container-bg);
}
section {
  padding-top: 5rem;
  background-color: var(--section-color);
}
/* darkmode */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  margin: 5px;
  width: 100%;
  /*   border: 1px solid var(--text-color); */
  border-radius: 10px;
}
.theme-switch {
  display: inline-block;
  position: relative;
  width: 100%;
  align-items: center;
  margin-left: 5px;
  cursor: pointer;
}

.theme-switch input {
  display: none;
  width: 100%;
}
footer a {
  color: white;
}
footer a:hover {
  color: #333;
}

/* .slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 20px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 20px;
}

input:checked + .slider {
  background-color: lightblue;
}

input:checked + .slider:before {
  transform: translateX(22px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} */
/* darkmode end */
a {
  color: var(--text-color);
}
.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}
