:root {
  --nav-color: #0d6efd;
  --section-color: white;
  --text-color: #333;
  --container-bg: #e2edff;
}
html[data-color-mode="dark"] {
  --nav-color: #333;
  --section-color: #555;
  --text-color: lightblue;
  --container-bg: #444;
}
h1,
h2 {
  color: var(--text-color);
}
.lead {
  color: var(--text-color);
}
#about p {
  color: var(--text-color);
}
#contact label {
  color: var(--text-color);
}
nav,
footer {
  background-color: var(--nav-color);
}
.navbar ul li a {
  color: var(--text-color);
}
.jumbotron {
  padding-top: 5rem;
  background-color: var(--container-bg);
}

#gallery {
  background-color: var(--container-bg);
}
section {
  padding-top: 5rem;
  background-color: var(--section-color);
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-left: 5px;
}
.theme-switch {
  display: inline-block;
  height: 28px;
  position: relative;
  width: 50px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 20px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 20px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(22px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
a {
  color: var(--text-color);
}
